# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/

# FVM Version Cache
.fvm/
.cursor/
openspec/
AGENTS.md
.idea/
.doc/
build/
kingwill101/
*.log
third_party/
configr
lockfile.json
doc/
.configr
