# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/
.dart_test_tmp/

# Compiled kernel files
*.dill
*.dill.stamp

# FVM Version Cache
.fvm/
.cursor/
openspec/
AGENTS.md
.idea/
.doc/
build/
node_modules/
site-build/
.docusaurus/
kingwill101/
*.log
third_party/
configr
lockfile.json
doc/
.configr
