resources {
  # Create a file first
  resource {
    type "file"
    destination "test_edit_rollback/existing.txt"

    actions {
      file {
        operation "create"
        content "Original content"
        create_directories "true"
      }
    }
  }

  # Edit the existing file
  resource {
    type "file"
    destination "test_edit_rollback/existing.txt"

    actions {
      file {
        operation "edit"
        content "\nModified content"
        edit_mode "append"
        backup_original "true"
      }
    }
  }
}
